@import "variables";
@import "reset";

body {
    color: var(--primary-color);
}

.app {
    background: var(--secondary-color);
    min-height: 100vh;
}

.page {
    display: flex;
    padding: 30px;
    height: calc(100vh - 50px);
    overflow: auto;
}