@import "variables";
@import "reset";

body {
    color: var(--primary-color);
    font-family: var(--normal-font);
}

.app {
    background: var(--secondary-color);
    min-height: 100vh;
}

.page {
    display: flex;
    padding: 30px;
    height: calc(100vh - var(--navbar-height));
    overflow: auto;
}