@font-face {
    font-family: 'Rockwell';
    src: url('../../shared/assets/fonts/Rockwell.ttf');
};
@font-face {
    font-family: 'Bou Collegiate';
    src: url('../../shared/assets/fonts/Bou_Collegiate.ttf');
};
@font-face {
    font-family: 'Shadows Into Light';
    src: url('../../shared/assets/fonts/Shadows_Into_Light.ttf');
};

:root {
    // sizes
    --navbar-height: 50px;

    // colors
    --primary-color: #FBF4F4;
    --secondary-color: #060606;
    --accent-color: #FFF200;
    --paper-color: #F1EEE5;
    --overlay-color: #FBF4F43F;
    --green-color: #06B400;
    --red-color: #C20000;

    // fonts
    --title-font: 'Bou Collegiate';

    --normal-font: 'Rockwell';

    --handwrite-font: 'Shadows Into Light'
}