<form class="loginForm">
  <div class="typeBtns">
    <button
      (click)="setAuthType('signIn')"
      class="typeBtn"
      [class.selected]="(authType | async) === 'signIn'"
    >Вход</button>
    <button
      (click)="setAuthType('signUp')"
      class="typeBtn"
      [class.selected]="(authType | async) === 'signUp'"
    >Регистрация</button>
  </div>
  {{(authError | async) ? (authError | async) : null}}
  {{(validationError | async) ? (validationError | async) : null}}
  <div class="inputWrapper">
    Никнейм
    <input
      type="text"
      (keydown.enter)="onSubmit()"
      (keyup)="onChangeUsername($event.target)"
      value="{{ (username | async) }}"
    >
  </div>
  <div class="inputWrapper">
    Пароль
    <input
      type="password"
      (keydown.enter)="onSubmit()"
      (keyup)="onChangePassword($event.target)"
      value="{{ (password | async) }}"
    >
    </div>
  <button
    (click)="onSubmit()"
    class="submitBtn"
  >
    {{ (authType | async) === "signIn" ? "Войти" : "Зарегистрироваться"}}
  </button>
</form>
