p {
    color: inherit;
}

// types

.titleVariant {
    font-family: var(--title-font);
    font-size: xx-large !important;
}

.subtitleVariant {
    font-family: var(--title-font);
    font-size: larger !important;
}

.normalVariant {
    font-family: var(--normal-font);
}

.handwriteVariant {
    font-family: var(--handwrite-font);
}

// sizes

.normalSize {
    font-size: medium
}

.largeSize {
    font-size: large;
}

// alignment

.centerAlign {
    text-align: center;
}

.leftAlign {
    text-align: left;
}

.rightAlign {
    text-align: right;
}