button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
    height: inherit;
    text-decoration: inherit;
    color: inherit;

    &:hover {
        opacity: 0.8;
    }
}

// variants

.normalVariant {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: none;
}

.invertedVariant {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
}

.outlineVariant {
    background: none;
    border: 1px solid;
}

.accentVariant {
    background-color: var(--accent-color);
    color: var(--secondary-color);
}

.linkLikeVariant {
    color: var(--accent-color);
    background: none;
    border: none;
}

.clearVariant {
    background: none;
    border: none;
}

// shapes

.cyrcleShape {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}