.search {
    margin-left: 20px;
    display: flex;
    align-items: center;
    color: var(--primary-color);
}

.input {
    background: none;
    outline: none;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    margin-left: 5px;
}

.btn {
    background: none;
    border: none;
    margin-left: 5px;
    cursor: pointer;
    display: flex;

    :hover {
        opacity: 0.8;
    }
}

.searchSvg {
    background-color: var(--primary-color);
    width: 20px;
    height: 20px;
}

