.heroesList {
}

.heroCards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.header {
    display: flex;
    min-width: 90vw;
    margin-bottom: 20px;
}

.pagination{
    margin-left: auto;
    display: flex;
    gap: 10px;
    align-items: center;
}