.contentWrapper {
    display: flex;
    flex-direction: column;
}

.heroesList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.header {
    display: flex;
    margin-bottom: 20px;
}

.pagination{
    margin-left: auto;
    display: flex;
    gap: 10px;
    align-items: center;

    button {
        border: none;
        background: none;
        color: var(--primary-color);
        font-weight: bold;
        cursor: pointer;
    }
}