<div>
    <div class="search">
        {{(search | async) ? "Поиск: " + (search | async) : null}}
    </div>
    <div class="heroesList">
        <app-hero-card *ngFor="let hero of (heroes | async)" [hero]="hero"></app-hero-card>
    </div>
    <div class="pagination">
        <button
            (click)="setPage(1)"
            *ngIf="$any(page | async) > 2"
        ><<</button>
        <button
            (click)="setPreviousPage()"
            *ngIf="$any(page | async) > 1"
        ><</button>
        {{ page | async }}
        <button
            (click)="setNextPage()"
            *ngIf="$any(heroes | async).length >= $any(limit | async)"
        >></button>
    </div>
</div>
