.appInput {
    display: flex;
    flex-direction: column;
}

.inputWrapper {
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
}

input {
    flex-grow: 1;
    border: none;
    background: none;
    padding: 0 5px;
    font-family: var(--handwrite-font);
    color: inherit;
    border-bottom: 1px solid;

    &:focus {
        outline: none;
    }
}

.error {
    margin-left: auto;
    color: var(--app-red-color);
    height: 0;
}
    
::placeholder {
    color: inherit;
    opacity: 0.6;
}
