.card {
    display: flex;
    width: 200px;
    height: 200px;
    padding: 10px;
    background-image: url("/shared/assets/icons/card-215-215.png");
    background-size: cover;
    opacity: 0.9;

    &:hover {
        opacity: 1;
        transform: scale(1.01);
    }
}

.content {
    color: var(--secondary-color);
}

.image {
    height: 140px;
    width: 140px;
    margin-top: 5px;
    margin-left: 20px;
    object-fit: cover;
    rotate: (-2deg);
    filter: sepia(0.5) drop-shadow(1px 1px var(--secondary-color))
}

.nameWrapper {
    display: flex;
    justify-content: end;
}