<form class="registrationForm" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="header">
      <div class="imgWrapper">
        <app-svg
          *ngIf="!(avatar| async)"
          class="image"
          [path]="'shared/assets/icons/user-60-80.svg'"
        ></app-svg>
        <img
          *ngIf="(avatar| async)"
          class="image"
          [src]="(avatar| async)"
        >
      </div>
      <div class="inputs">
        <app-input
          type="text"
          placeholder="Username"
          (keyup)="onChangeUsername($event.target)"
          [value]="(username | async) || ''"
          [formControl]="form.controls.username"
          [error]="(validationErrors | async)?.username"
          minlength="6"
          required
        ></app-input>
        <app-input
          type="password"
          placeholder="Password"
          (keyup)="onChangePassword($event.target)"
          [value]="(password | async) || ''"
          [formControl]="form.controls.password"
          [error]="(validationErrors | async)?.password"
          minlength="6"
          required
        ></app-input>
      </div>
    </div>
    <div class="inputs">
      <app-input
        placeholder="Avatar URL"
        (keyup)="onChangeAvatar($event.target)"
        [value]="(avatar | async) || ''"
      ></app-input>
      <app-input
        placeholder="Name"
        (keyup)="onChangeName($event.target)"
        [value]="(name | async) || ''"
      ></app-input>
      <app-input
        placeholder="Surname"
        (keyup)="onChangeSurname($event.target)"
        [value]="(surname | async) || ''"
      ></app-input>
    </div>
    <app-button
      type="submit"
      class="submitBtn"
      variant="outline"
    >Sign up</app-button>
  </form>
  