<div class="loginPage">
    <app-text alignment="center" variant="title">Authorization</app-text>
    <app-status-message
        [variant]="!!(authError | async) ? 'negative' : 'neutral'"
    >
        {{authError | async}}
    </app-status-message>
    <div class="typeBtns">
        <app-button
            (click)="setAuthType('signIn')"
            class="typeBtn"
            variant="clear"
            [class.selected]="(authType | async) === 'signIn'"
        >Sign in</app-button>
        <app-button
            (click)="setAuthType('signUp')"
            variant="clear"
            class="typeBtn"
            [class.selected]="(authType | async) === 'signUp'"
        >Sign up</app-button>
    </div>
    <app-login-form *ngIf="$any(authType | async) === 'signIn' && !(isLoading | async)"></app-login-form>
    <app-registrarion-form *ngIf="$any(authType | async) === 'signUp' && !(isLoading | async)"></app-registrarion-form>
    <app-loader *ngIf="isLoading | async"></app-loader>
</div>