.loginPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.typeBtns {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

.typeBtn.selected {
    text-decoration: underline;
}

.statusMessage {
    height: 30px;
    width: 100%;

    &.red {
        background-color: var(--red-color);
    }
    &.green {
        background-color: var(--green-color);
    }
}
