<div>
    <a routerLink="/heroes" class="link">
        <div class="returnBtn">Вернуться к списку</div>
    </a>
    {{ (isLoading | async) ? "loading" : null}}
    {{ error | async }}
    <div
        *ngIf="!(isLoading | async) && !(error | async)"
        class="heroCharacter"
    >
        <h2>{{ (hero | async)?.name | uppercase }}</h2>
        <div class="statsWrapper">
            <img src="{{(hero | async)?.image?.url}}" class="image">
            <table class="powerstats">
                <th>Power stats</th>
                <tr *ngFor="let item of (hero | async)?.powerstats | keyvalue">
                    <td>{{item.key}}</td>
                    <td>{{item.value}}</td>
                </tr>
            </table>
        </div>
        <h3>Biography</h3>
        <textarea>
            other data we could typizate, but will not
        </textarea>
    </div>
</div>