.navbar {
    height: var(--navbar-height);
    width: 100%;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--primary-color);
}

.nickname {
    margin-left: auto;
    color: var(--primary-color);
}

.authBtn {
    margin-left: 15px;
    margin-right: 20px;
    color: var(--accent-color);
    background: none;
    border: none;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}