<div class="heroesPage">
    <app-status-message
        *ngIf="(error | async)"
        variant="negative"
    >{{error | async}}</app-status-message>
    <div *ngIf="!(isLoading | async) && !(error | async)">
        <div class="header">
            <app-text
                variant="title"
                *ngIf="!!(search | async)"
            >Search result: {{(search | async)}}</app-text>
            <app-heroes-pagination class="pagination"></app-heroes-pagination>
        </div>
        <app-heroes-list *ngIf="(heroes | async)" [heroes]="(heroes | async)!"></app-heroes-list>
    </div>
    <app-loader *ngIf="isLoading | async"></app-loader>
</div>