<div class="loginForm">
  
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <app-input
      type="text"
      placeholder="Username"
      (keyup)="onChangeUsername($event.target)"
      [formControl]="form.controls.username"
      [error]="(validationErrors | async)?.username"
      required
    ></app-input>
    <app-input
      type="password"
      placeholder="Password"
      (keyup)="onChangePassword($event.target)"
      [formControl]="form.controls.password"
      [error]="(validationErrors | async)?.password"
      required
    ></app-input>
    <app-button
      class="submitBtn"
      variant="clear"
      type="submit"
    >
      <app-svg class="image" [path]="'shared/assets/icons/fingerprint.svg'"></app-svg>
      <app-text>Sign in</app-text>
    </app-button>
  </form>
</div>
