<div class="loginForm">
  
  <form class="form">
    {{(validationError | async) ? (validationError | async) : null}}

    <app-input
      type="text"
      placeholder="Username"
      (keydown.enter)="onSubmit()"
      (keyup)="onChangeUsername($event.target)"
      value="{{ (username | async) }}"
    ></app-input>
    <app-input
      type="password"
      placeholder="Password"
      (keydown.enter)="onSubmit()"
      (keyup)="onChangePassword($event.target)"
      value="{{ (password | async) }}"
    ></app-input>
    <app-button
      (click)="onSubmit()"
      class="submitBtn"
      variant="clear"
    >
      <app-svg class="image" [path]="'shared/assets/icons/fingerprint.svg'"></app-svg>
      <app-text>Sign in</app-text>
    </app-button>
  </form>
</div>
