<div>
  <div class="typeBtns">
    <button
      (click)="authService.setType('signIn')"
      class="typeBtn"
      [class.selected]="authService.type$.getValue() === 'signIn'"
    >Вход</button>
    <button
      (click)="authService.setType('signUp')"
      class="typeBtn"
      [class.selected]="authService.type$.getValue() === 'signUp'"
    >Регистрация</button>
  </div>
  <form class="loginForm">
    <input
      type="text"
      placeholder="Никнейм"
      (keyup)="authService.onChangeNickname($event.target)"
      value="{{ authService.nickname$.getValue() }}"
    >
    <input
      type="password"
      placeholder="Пароль"
      (keyup)="authService.onChangePassword($event.target)"
      value="{{ authService.password$.getValue() }}"
    >
    <button (click)="authService.buttonOnClick()">
      {{ authService.type$.value === "signIn" ? "Войти" : "Зарегистрироваться"}}
    </button>
  </form>
</div>
