<div class="loginForm">
  <div class="typeBtns">
    <button
      (click)="setType('signIn')"
      class="typeBtn"
      [class.selected]="type.getValue() === 'signIn'"
    >Вход</button>
    <button
      (click)="setType('signUp')"
      class="typeBtn"
      [class.selected]="type.getValue() === 'signUp'"
    >Регистрация</button>
  </div>
  {{error ? error : null}}
  <div class="inputWrapper">
    Никнейм
    <input
      type="text"
      (keyup)="onChangeNickname($event.target)"
      value="{{ nickname.getValue() }}"
    >
  </div>
  <div class="inputWrapper">
    Пароль
    <input
      type="password"
      (keyup)="onChangePassword($event.target)"
      value="{{ password.getValue() }}"
    >
    </div>
  <button
    (click)="buttonOnClick()"
    class="submitBtn"
  >
    {{ type.value === "signIn" ? "Войти" : "Зарегистрироваться"}}
  </button>
</div>
