<div class="heroPage">
    <div class="header">
        <a routerLink="/heroes">
            <app-button variant="linkLike" class="returnBtn">Return to heroes list</app-button>
        </a>
    </div>
    <app-loader *ngIf="isLoading | async"></app-loader>
    <app-status-message *ngIf="error | async" variant="negative">{{ error | async }}</app-status-message>
    <app-hero-character
        *ngIf="hero | async"
        [hero]="(hero | async)!"
        class="heroCharacter"
    ></app-hero-character>
</div>