.heroPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.header {
    display: flex;
    margin-bottom: 20px;
    width: calc(100vw - 2 * var(--page-padding));
}

.heroCharacter {
    width: min-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

